
*{
    margin: 0;
    
    padding: 0;
    
    }
   
    @media(max-width: 698px){
    img {
  
        width: 100%;
        max-width: 27em !important;
        height: 100%;
        max-height: 14em !important;
        
       
        border-radius: 8px; 
      
    }
    .header{
    margin: 1em;
    
    height: fit-content;
    
    }
    .fakeimg {
  
    
    }
    .card {
    background-color: #5c2b2b;
    padding: 1px;
    margin-top: 20px;
    }
    .title{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 7vw;
    margin-top: 1.7em;
    margin-left: 1.7em;
    }
    .desc{
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 3;
    margin-left: 4.4em;
    }
    .content{
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    text-decoration: none;
    size: 3vw;
    margin-left: 3.7em !important;
    padding-right: 3.7em !important;
    }
  
    }
    
    
    
    @media  (max-width: 1024px){
      img {
  
        width: 100%;
        max-width: 37em !important;
        height: 100%;
        max-height: 24em !important;
        
        object-fit: cover;
        object-position: center center;
        border-radius: 8px; 
      
      }
    .header{
    
    
    height: fit-content;
    
    }
    .fakeimg {
        background-color:249, 250, 247 ;
        width: 37em !important;
        height: 24em !important;
        margin: 3em !important;
        object-fit: cover;
        object-position: center;
        
        
    }
    
    .card {
        background-color:249, 250, 247 ;
        padding: 25px;
        margin-top: 30px;
    }
    .title{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 7vw;
    margin-top: 1.7em;
    margin-left: 1.7em;
    }
    .desc{
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 3;
    margin-left: 4.4em;
    }
    .content{
    font-family: 'Montserrat', sans-serif;
    max-width: 690px;
    text-decoration: none;
    size: 3vw;
    margin-left: 4.4em;
    padding-right:8em;
    }
    }
    @media  (min-width: 1025px){
        img {
            width: 100%;
            max-width: 43249, 250, 247 em !important;
            height: 100%;
            max-height: 24em !important;
            object-fit: cover;
            object-position: center center;
        
        
            
            border-radius: 8px; 
        
        }
    .header{
    
    
    height: fit-content;
    
    }
    .fakeimg {
    background-color: 249, 250, 247 ;
    width: 100%;
    height: 100%;
    margin: 3em;
    object-fit: cover;
    object-position: center;
    
    
    }
    
    .card {
    background-color: 249, 250, 247 ;
    padding: 25px;
    margin-top: 30px;
    }
    .title{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 7vw;
    margin-top: 1.7em;
    margin-left: 1.7em;
    }
    .desc{
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    size: 3;
    margin-left: 4.4em;
    }
    .content{
    font-family: 'Montserrat', sans-serif;
    max-width: 809px;
    text-decoration: none;
    size: 3vw;
    margin-left: 4.4em;
    padding-right:8em;
    padding-bottom: 80px;
    }
    }
    
    .tec{
    
    margin-top: 23px;
    margin-left: 10px;
    float:left;
    color:249, 250, 247;
    
    }
    .tec h1
    
    
    .social-media2{
    display: flex;
    justify-content: center  ! important ; 
    
    
    
    
    }
    .footer1{
    width:100%;
    height: 220px;
    margin-top: 15em;
    background-color: rgb(0, 0, 0);
    }
    
    .footertec img{
    width: 57px;
    margin-left: 6em;
    float: left;
    margin-top: 1em;
    }
    