
$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

*{
    margin: 0;
   
    padding: 0;
}   
.card-horizontal {
        display: flex;
       
    
}

.card{
    border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
    height: 10;
}
@media (max-width:760px){

    .image-resize1{
        width: 100%;
        max-width: 400px !important;
        height: 250px !important;
    
        object-fit: cover;
        object-position: center center;
        margin-top: 45px;
        margin-left: 38px;
        border-radius: 30px;  box-shadow: 0 0 40px 2px rgba(194, 196, 204, 0.18);
        font-family: 'Roboto';
        
    }
    .image-resize1:hover{
        
        box-shadow: 0 0 40px 2px rgba(1, 3, 14, 0.18);
        }
    .image-resize2{
        width: 100%;
        max-width: 400px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
        margin-top: 45px;
        margin-left: 40px;
    
        border-radius: 30px;  box-shadow: 0 0 40px 2px rgba(194, 196, 204, 0.18);
        font-family: 'Roboto';
    
        
    
        
    }
    
    .image-resize2:hover{
        
        box-shadow: 0 0 40px 2px rgba(1, 3, 14, 0.18);
    }
    .image-resize3{
        width: 100%;
        max-width: 400px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
        margin-top: 45px;
        margin-left: 35px;
        
        border-radius: 30px;
        box-shadow: 0 0 40px 2px rgba(194, 196, 204, 0.18);
        font-family: 'Roboto';
    }
    
    
    .image-resize3:hover {
        
        box-shadow: 0 0 40px 2px rgba(1, 3, 14, 0.18);
        }
    }
.card-horizontal {
    display: flex;
    

}

.card{
    border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
    height: 10;
}

@media only screen and (device-width: 768px) {
    .img-sizeall{
        text-align: justify;
        font-size: ;
        font-family: Arial, Helvetica, sans-serif;  
            
        width: 14em ! important;
        height: 7em ! important;
        object-fit: cover;
        object-position: center;
            border-radius: 8px; 
        }
        .card{
            border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
            height: 7em;
            width: 42em;
            
        }
        
        .card-text{
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-size: 1em;
        }
}
    

@media (min-device-width : 320px) and (max-device-width : 740px) {
            
    .img-sizeall{
        text-align: justify;
        font-size: ;
        font-family: Arial, Helvetica, sans-serif;  
            
            width:6em;
            height:10em;
            object-fit: cover;
            object-position: center;
            border-radius: 8px; 
        }
        .card{
            border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
            height: 7;
           
            
        }
        
        .card-text{
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-size: 12px;
        }
        .tec{
  
            margin-top: 23px;
            margin-left: 10px;
            float:left;
           
        }
        .footer1{
            width:100%;
            height: 220px;
            margin-top: 15em;
            background-color: rgb(0, 0, 0);
        }
        
        .footertec img{
            width: 57px;
            margin-left: 6em;
            float: left;
            margin-top: 1em;
        }
        
         
        
        
        .social-media2{
            display: flex;
            justify-content: center  ! important ; 
            
        
           
            
        }
}
    

@media (max-width: 600px){
        
        
        .img-sizeall{
        text-align: justify;
        font-size: ;
        font-family: Arial, Helvetica, sans-serif;  
            
            width:6em;
            height:10em;
            object-fit: cover;
            object-position: center;
            border-radius: 8px; 
        }
        .card{
            border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
            height: 7;
           
            
        }
        
        .card-text{
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-size: 12px;
        }
        .tec{
  
            margin-top: 23px;
            margin-left: 10px;
            float:left;
           
        }
        .footer1{
            width:100%;
            height: 220px;
            margin-top: 15em;
            background-color: rgb(0, 0, 0);
        }
        
        .footertec img{
            width: 57px;
            margin-left: 6em;
            float: left;
            margin-top: 1em;
        }
        
         
        
        
        .social-media2{
            display: flex;
            justify-content: center  ! important ; 
            
        
           
            
        }
}


@media (max-width: 1024px){
        
        
    .img-sizeall{
            text-align: justify;
            font-size: 2vw;
            font-family: Arial, Helvetica, sans-serif;  
            width: 18em;
            height: 12em;
            max-width: width 12em;
            object-fit: cover;
            object-position: center;
            border-radius: 8px; 

        }
        .card{
            border-radius: 25px;  box-shadow: 0 0 40px 2px rgba(10, 47, 196, 0.18);
            height: 7;
            width: 42em;
            
        }
        .tec{
  
            margin-top: 23px;
            margin-left: 10px;
            float:left;
           
        }
        .footer1{
            width:100%;
            height: 220px;
            margin-top: 15em;
            background-color: rgb(0, 0, 0);
        }
        
        .footertec img{
            width: 57px;
            margin-left: 6em;
            float: left;
            margin-top: 1em;
        }
        
         
        
        
        .social-media2{
            display: flex;
            justify-content: center  ! important ; 
            
        
           
            
        }
      
}




